body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
img{
	display: inline-block;
}
img[src*="nebula1"]{
	width: 300px;
	float: left;
}
img[src*="nebula2"]{
	width: 300px;
	float: right;
}